{% extends "base.html" %}

{% block titre %}

Margaux | A propos

{% endblock %}

{% block contenu %}
        <div class=" apropos">
        <h1>A propos de moi </h1>
        <h2>Mon parcours</h2>
        <p>Je m'appelle Margaux, j'ai 33 ans et bien que je sois diplômée en éducation physique,j'ai décidé de découvrir de nouveaux horizons.<br>
         Je suis passionnée d'énigmes en tout genre et j'aime lire. J'adore faire des escape game, les jeux vidéos à énigmes et essayer de découvrir le tueur à la fin de mes livres<br>
         (spoiler : je n'y arrive presque jamais!) </p>
        <h3>Mes points forts :</h3>
        <ul>
            <li>Curieuse</li>
            <li>Avide d'apprendre</li>
            <li>Autodidacte</li>
            <li>Aime résoudre des problèmes</li>
            <li>Autonome, organisée et motivée !</li>
        </ul>
        <p>J'ai été factrice chez Bpost, puis cheffe d'équipe car je voulais transmettre et être une aide pour mes collègues. </p>
        <h4>Ce que Bpost m'a apporté : </h4>
        <ul>
            <li>Débrouillardise</li>
            <li>Gestion de la pression</li> 
            <li>Prendre les meilleures décisions dans l'urgence</li>
            <li>Trouver des solutions</li>
            <li>S'adapter</li>
                
        </ul>
        <h5>Pourquoi changer?</h5>
        <p>Je suis actuellement en pleine reconversion. Je cherche un métier qui a du sens pour moi et qui sera en accord avec qui je suis.<br>
         Je souhaite exercer un métier qui correspond plus à ma personnalité, où je peux continuer à apprendre et résoudre des problèmes.<br>
          C'est exactement pour cela que je me tourne vers le développement web. </p>
        </div>
{% endblock %}