<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="UTF-8">
        <title>{% block titre %}Mon portfolio{% endblock %} </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>

    <body>

     <nav class="menu">

         <div class="logo">
            Margaux.dev
         </div>

          <div class="liens">
             <a href="{{ url_for('accueil') }}">Accueil</a>
              <a href="{{ url_for('projets') }}">Mes projets</a>
              <a href="{{ url_for('apropos') }}">A propos</a>
              <a href="{{ url_for('contact') }}">Contact</a>
          </div> 
     </nav>

     {% block contenu %}

     {% endblock %}

     </body>

</html>